.git
.gitignore
.DS_Store
.env
.env.*
!*.env.example
**/.env
**/.env.*
!**/*.env.example
node_modules
**/node_modules
.pnpm-store
.next
**/.next
dist
**/dist
.venv
**/.venv
venv
**/venv
__pycache__
**/__pycache__
*.py[cod]
*.log
*.tsbuildinfo
